* text=auto eol=lf

*.cs text diff=csharp
*.json text
*.shader text
*.yaml text
*.meta text
*.unity text
*.asset text

*.png binary
*.jpg binary
*.jpeg binary
*.psd binary
*.fbx binary
*.obj binary
*.mp3 binary
*.wav binary
*.asset binary
